#attention-reveal {
  position: fixed;
  top: 1rem;
}

#attention-drag {
  position: fixed;
  bottom: 1rem;
}

.card>* {
  margin: 0;
  padding: 0;
}

.card {
  font-family: montserrat, sans-serif;
  margin: auto auto;
  max-width: 600px;
  width: calc(100% - 30px);
  height: 350px;
  perspective: 1000px;
}

.card>div {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card>div.is-flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid f3f9ff;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.089);
}

.front>div>*,
.back>div>*:not(img) {
  margin: 15px 10px 15px;
  text-align: center;
  font-weight: 500;
}

.front h3,
.back h3 {
  color: rgb(124, 124, 124);
}

.back {
  transform: rotateY(180deg);
}

#wrong,
#right {
  position: absolute;
  top: 1rem;
  font-size: large;
  font-weight: 600;
  display: none;
}

#wrong {
  right: 1rem;
  transform: rotate(-25deg);
  color: #e24935;
}

#right {
  left: 1rem;
  transform: rotate(25deg);
  color: #4fab52;
}

#speaker,
#document {
  color: #213547;
}