* {
    margin: 0;
}

#content {
    overflow-x: hidden;
    overflow-y: scroll;
}

.articles,
.videos {
    margin: auto;
    height: 250px;
    max-width: 800px;
    width: calc(100% - 30px);

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
}

.articles div,
.videos div {
    width: 150px;
    flex: 0 0 auto;
    border: 1px solid black;
}

.articles>div {
    cursor: pointer;
}

h2 {
    padding: 20px;
    width: calc(100% - 30px);
    text-align: left;
}

.pop-up:not(.show) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.pop-up {
    display: flex;
    align-items: center;
    justify-content: center;

    /* padding-top: 30px;
    padding-bottom: 60px; */
}

.pop-up>div {
    display: grid;
    max-width: 600px;
    width: calc(100% - 30px);
}

.show {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.close {
    cursor: pointer;
    position: fixed;
    top: 1rem;
    left: 1rem;
}

#paragraph-holder {
    overflow: scroll;
    height: calc(100vh - 60px);
    /* margin: 30px 30px 30px 30px; */

    text-align: justify;
}