* {
    margin: 0;
}

#content {
    overflow-x: hidden;
    overflow-y: scroll;

    text-align: justify;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#content span {
    color: black;

    background-color: white;
    border: #f4f9ff solid;
    border-radius: 5px;
    height: 30px;
    /* padding: 10px; */
    margin: 10px;
}

#content>div {
    display: grid;
    max-width: 500px;
    margin: auto;
}

.pop-up:not(.show) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.pop-up {
    display: flex;
    align-items: center;
    justify-content: center;

    /* padding-top: 30px;
    padding-bottom: 60px; */
}

.pop-up>div {
    display: grid;
    max-width: 600px;
    width: calc(100% - 30px);
}

.show {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.close {
    cursor: pointer;
    position: fixed;
    top: 1rem;
    left: 1rem;
}

#paragraph-holder {
    overflow: scroll;
    height: calc(100vh - 60px);
    /* margin: 30px 30px 30px 30px; */

    text-align: justify;
}

/* Test */

.accordion {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;

    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
}

.active {
    /* background-color: #ccc; */

    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.active+.panel {
    padding: 18px;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#alert {
    position: absolute;
    bottom: 70px;

    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    max-width: calc(100% - 100px);

    padding: 20px;
    background-color: #2eb885;
    border-radius: 10px;
    color: white;

    transition: transform 0.3s;
    transform: scale(0);
    visibility: hidden;
    /* visibility: visible; */
}

#selection {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: white;
    padding: 10px;

    border: 1px solid;
    border-radius: 10px;

}

#selection span {
    border: none;
    margin: 0;
}